<div id="sidebar" class="l-sidebar">
	<aside class="p-sidebar-categories" aria-labelledby="landmark-category-label">
		<h2 class="p-sidebar-categories__hdg" id="landmark-category-label">記事カテゴリー</h2>

		<w0s-tab storage-key="sidebar-category-tab">
			<%_ for (const [groupName, ] of entryCountOfCategoryList) { _%>
			<a href="#category-tab-<%= groupName %>" slot="tab" class="p-sidebar-categories__item"><%= groupName %></a>
			<%_ } _%><%_ for (const [groupName, countDataList] of entryCountOfCategoryList) { _%>
			<div slot="tabpanel" class="p-sidebar-categories__panel" id="category-tab-<%= groupName %>">
				<%_ if (typeof(categoryName) !== 'undefined') { _%>
				<ul class="p-sidebar-link -category">
					<%_ for (const countData of countDataList) { _%>
					<li>
						<%_ if (categoryName === countData.categoryName) { _%>
						<a aria-current="page">
							<%= countData.categoryName %>
							<span class="p-sidebar-link__icon c-entry-count"><span class="c-entry-count__num"><%= countData.count %></span>件</span>
						</a>
						<%_ } else { _%>
						<a href="/category/<%= encodeURI(countData.categoryName) %>">
							<%= countData.categoryName %>
							<span class="p-sidebar-link__icon c-entry-count"><span class="c-entry-count__num"><%= countData.count %></span>件</span>
						</a>
						<%_ } _%>
					</li>
					<%_ } _%>
				</ul>
				<%_ } else { _%>
				<ul class="p-sidebar-link -category">
					<%_ for (const countData of countDataList) { _%>
					<li>
						<a href="/category/<%= encodeURI(countData.categoryName) %>">
							<%= countData.categoryName %>
							<span class="p-sidebar-link__icon c-entry-count"><span class="c-entry-count__num"><%= countData.count %></span>件</span>
						</a>
					</li>
					<%_ } _%>
				</ul>
				<%_ } _%>
			</div>
			<%_ } _%>
		</w0s-tab>
	</aside>

	<aside class="p-sidebar-entries" aria-labelledby="landmark-newly-label">
		<h2 class="p-sidebar-entries__hdg" id="landmark-newly-label">最近の記事</h2>

		<%_ if (typeof(entryId) !== 'undefined') { _%>
		<ul class="p-sidebar-link -entry">
			<%_ for (const newlyEntry of newlyEntries) { _%>
			<li>
				<%_ if (entryId === newlyEntry.id) { _%>
				<a aria-current="page"><%- newlyEntry.title %></a>
				<%_ } else { _%>
				<a href="/entry/<%= newlyEntry.id %>"><%- newlyEntry.title %></a>
				<%_ } _%>
			</li>
			<%_ } _%>
		</ul>
		<%_ } else { _%>
		<ul class="p-sidebar-link -entry">
			<%_ for (const newlyEntry of newlyEntries) { _%>
			<li>
				<a href="/entry/<%= newlyEntry.id %>"><%- newlyEntry.title %></a>
			</li>
			<%_ } _%>
		</ul>
		<%_ } _%>
	</aside>
</div>
