<!DOCTYPE html>
<html lang="ja">
	<head>
		<title>Amazon 商品管理</title>

		<meta name="viewport" content="width=device-width,initial-scale=1" />

		<link rel="stylesheet" href="/style/admin.css" />
		<link rel="stylesheet" href="/style/layout_full.css" title="通常表示" />
		<link rel="alternate stylesheet" href="/style/layout_reader.css" title="リーダー表示" />
		<link rel="stylesheet" href="/style/layout_reader.css" media="print" />

		<script src="/script/admin.mjs" type="module"></script>
	</head>
	<body>
		<div class="l-page">
			<%- include('./_include/_header', { heading: false } ) -%>

			<div id="content" class="l-content -nosidebar">
				<div class="l-content__header">
					<div class="p-title">
						<h1>Amazon 商品管理</h1>
					</div>

					<ul class="p-links">
						<li><a href="/admin/post">記事投稿</a></li>
						<li><a aria-current="page">Amazon 商品管理</a></li>
					</ul>
				</div>
				<main class="l-content__main">
					<p><%= dpList.length %> 件の商品</p>

					<table class="p-table">
						<thead>
							<tr>
								<td></td>
								<th scope="col">ASIN</th>
								<th scope="col">商品名</th>
								<th scope="col" colspan="2">カテゴリ</th>
								<th scope="col">発売日</th>
								<th scope="col">記事 ID</th>
							</tr>
						</thead>
						<tbody>
							<%_ for (const dp of dpList) { _%>
							<tr>
								<td>
									<%_ if (dp.entry_ids.length === 0) { _%>
									<form method="post">
										<p><input type="hidden" name="asin" value="<%= dp.asin %>" /></p>
										<p><button name="actiondel" value="1" is="w0s-confirm-button" data-message="削除しますか?" class="c-submit -compact">削除</button></p>
									</form>
									<%_ } _%>
								</td>
								<td><%= dp.asin %></td>
								<td>
									<a href="https://www.amazon.co.jp/dp/<%= dp.asin %>">
										<%_ if (dp.image_url !== null) { _%>
										<img src="<%= dp.image_url %>" alt="" width="<%= dp.image_width %>" height="<%= dp.image_height %>" style="width: auto; max-height: 36px" />
										<%_ } _%> <%= dp.title %>
									</a>
								</td>
								<td><%= dp.binding %></td>
								<td><%= dp.product_group %></td>
								<td><%_ if (dp.publication_date !== null) { _%> <%= dp.publication_date.format('YYYY-MM-DD') %> <%_ } _%></td>
								<td>
									<%_ for (const id of dp.entry_ids) { _%>
									<a href="https://blog.w0s.jp/<%= id %>"><%= id %></a>
									<%_ } _%>
								</td>
							</tr>
							<%_ } _%>
						</tbody>
					</table>
				</main>
			</div>

			<%- include('./_include/_footer') -%>
		</div>
	</body>
</html>
