<!DOCTYPE html>
<html lang="ja">
	<head>
		<title>「<%= page.query.category_name %>」の記事（<%= count %>件）</title>

		<meta name="viewport" content="width=device-width,initial-scale=1" />

		<link rel="alternate" href="/feed" type="application/atom+xml" title="「富永日記帳」の新着フィード" />
		<link rel="stylesheet" href="/style/blog.css" />
		<link rel="stylesheet" href="/style/layout_full.css" title="通常表示" />
		<link rel="alternate stylesheet" href="/style/layout_reader.css" title="リーダー表示" />
		<link rel="stylesheet" href="/style/layout_reader.css" media="print" />

		<script src="/script/trusted-types.js"></script>
		<script src="/script/blog.mjs" type="module"></script>
		<script src="https://analytics.w0s.jp/matomo/matomo.js" async=""></script>
		<script src="/script/analytics.js" defer=""></script>
	</head>
	<body itemscope="" itemtype="http://schema.org/Blog">
		<div class="l-page">
			<%- include('./_include/_header', { heading: false } ) -%>

			<div id="content" class="l-content">
				<div class="l-content__header">
					<div class="p-title">
						<h1 itemprop="name">「<%= page.query.category_name %>」の記事（<%= count %>件）</h1>
					</div>
				</div>
				<main class="l-content__main">
					<ul class="p-title-list -category">
						<%_ for (const entry of entries) { _%>
						<li class="c-entry-link">
							<a href="/<%= entry.id %>">
								<span class="c-entry-link__thumb">
									<%_ if (entry.image_internal !== null) { _%>
									<picture>
										<source type="image/avif" srcset="https://media.w0s.jp/thumbimage/blog/<%= entry.image_internal %>?type=avif;w=180;h=180;quality=60, https://media.w0s.jp/thumbimage/blog/<%= entry.image_internal %>?type=avif;w=360;h=360;quality=30 2x" />
										<source type="image/webp" srcset="https://media.w0s.jp/thumbimage/blog/<%= entry.image_internal %>?type=webp;w=180;h=180;quality=60, https://media.w0s.jp/thumbimage/blog/<%= entry.image_internal %>?type=webp;w=360;h=360;quality=30 2x" />
										<img src="https://media.w0s.jp/thumbimage/blog/<%= entry.image_internal %>?type=jpeg;w=180;h=180;quality=60" alt="" class="c-entry-link__image" />
									</picture>
									<%_ } else if (entry.image_external !== null) { _%>
									<img src="<%= entry.image_external %>" alt="" class="c-entry-link__image" />
									<%_ } else { _%>
									<img src="/image/noimage.svg" alt="" width="180" height="120" class="c-entry-link__image" />
									<%_ } _%>
								</span>
								<span class="c-entry-link__title"><%= entry.title %></span>
							</a>
							<div class="c-entry-link__date">
								<dl class="c-entry-meta">
									<div class="c-entry-meta__group">
										<dt>投稿</dt>
										<dd><time datetime="<%= entry.created.format('YYYY-MM-DDTHH:mm:ssZ') %>"><%= entry.created.format('YYYY年M月D日') %></time></dd>
									</div>
									<%_ if (entry.last_updated !== null) { _%>
									<div class="c-entry-meta__group">
										<dt>最終更新</dt>
										<dd><time datetime="<%= entry.last_updated.format('YYYY-MM-DDTHH:mm:ssZ') %>"><%= entry.last_updated.format('YYYY年M月D日') %></time></dd>
									</div>
									<%_ } _%>
								</dl>
							</div>
						</li>
						<%_ } _%>
					</ul>
				</main>
			</div>

			<%- include('./_include/_sidebar') -%><%- include('./_include/_footer') -%>
		</div>
	</body>
</html>
