<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1" />

		<link rel="alternate" href="/feed" type="application/atom+xml" title="「富永日記帳」の新着フィード" />
		<%_ if (requestQuery.page > 2) { _%>
		<link rel="prev" href="/list/<%= requestQuery.page - 1 %>" title="新しい記事" />
		<%_ } else if (requestQuery.page === 2) { _%>
		<link rel="prev" href="/" title="新しい記事" />
		<%_ } _%> <%_ if (requestQuery.page < totalPage) { _%>
		<link rel="next" href="/list/<%= requestQuery.page + 1 %>" title="古い記事" />
		<%_ } _%>
		<link rel="stylesheet" href="/style/blog.css" />
		<link rel="stylesheet" href="/style/layout_full.css" title="通常表示" />
		<link rel="alternate stylesheet" href="/style/layout_reader.css" title="リーダー表示" />
		<link rel="stylesheet" href="/style/layout_reader.css" media="print" />

		<script src="/script/trusted-types.js" defer=""></script>
		<script src="/script/blog.mjs" type="module"></script>
		<script src="https://analytics.w0s.jp/matomo/matomo.js" async=""></script>
		<script src="/script/analytics.js" defer=""></script>

		<title>富永日記帳<%_ if (requestQuery.page !== 1) { _%>: <%= entries.at(-1).created.format('YYYY年M月D日') %>～<%= entries.at(0).created.format('YYYY年M月D日') %>の記事一覧<%_ } _%></title>
	</head>
	<body>
		<div class="l-page">
			<%- include('./_include/header', { heading: true } ) -%>

			<div id="content" class="l-content">
				<div class="l-content__header">
					<nav aria-label="前後記事">
						<ul class="p-page-nav">
							<%_ if (requestQuery.page > 2) { _%>
							<li><a href="/" class="p-page-nav__link -start">最新</a></li>
							<li><a href="/list/<%= requestQuery.page - 1 %>" rel="prev" class="p-page-nav__link -prev">新しい記事</a></li>
							<%_ } else if (requestQuery.page === 2) { _%>
							<li><a href="/" rel="prev" class="p-page-nav__link -prev">新しい記事（最新）</a></li>
							<%_ } _%><%_ if (requestQuery.page < totalPage) { _%>
							<li><a href="/list/<%= requestQuery.page + 1 %>" rel="next" class="p-page-nav__link -next">古い記事</a></li>
							<%_ } _%>
						</ul>
					</nav>
				</div>
				<main class="l-content__main">
					<ul class="p-title-list -list">
						<%_ for (const entry of entries) { _%>
						<li>
							<div class="c-entry-link">
								<a href="/<%= entry.id %>">
									<span class="c-entry-link__thumb">
										<%_ if (entry.image_internal !== null) { _%>
										<picture>
											<source type="image/avif" srcset="https://media.w0s.jp/thumbimage/blog/<%= entry.image_internal %>?type=avif;w=180;h=120;quality=60, https://media.w0s.jp/thumbimage/blog/<%= entry.image_internal %>?type=avif;w=360;h=240;quality=30 2x" />
											<source type="image/webp" srcset="https://media.w0s.jp/thumbimage/blog/<%= entry.image_internal %>?type=webp;w=180;h=120;quality=60, https://media.w0s.jp/thumbimage/blog/<%= entry.image_internal %>?type=webp;w=360;h=240;quality=30 2x" />
											<img src="https://media.w0s.jp/thumbimage/blog/<%= entry.image_internal %>?type=jpeg;w=180;h=120;quality=60" alt="" class="c-entry-link__image" />
										</picture>
										<%_ } else if (entry.image_external !== null) { _%>
										<img src="<%= entry.image_external %>" alt="" class="c-entry-link__image" />
										<%_ } else { _%>
										<img src="/image/noimage.svg" alt="" width="180" height="120" class="c-entry-link__image" />
										<%_ } _%>
									</span>
									<span class="c-entry-link__title"><%- entry.title %></span>
								</a>
								<div class="c-entry-link__date">
									<dl class="c-entry-meta">
										<div class="c-entry-meta__group">
											<dt>投稿</dt>
											<dd><time datetime="<%= entry.created.format('YYYY-MM-DDTHH:mm:ssZ') %>"><%= entry.created.format('YYYY年M月D日') %></time></dd>
										</div>
										<%_ if (entry.last_updated !== null) { _%>
										<div class="c-entry-meta__group">
											<dt>最終更新</dt>
											<dd><time datetime="<%= entry.last_updated.format('YYYY-MM-DDTHH:mm:ssZ') %>"><%= entry.last_updated.format('YYYY年M月D日') %></time></dd>
										</div>
										<%_ } _%>
									</dl>
								</div>
							</div>
						</li>
						<%_ } _%>
					</ul>
				</main>
				<div class="l-content__footer">
					<nav aria-label="前後記事">
						<ul class="p-page-nav">
							<%_ if (requestQuery.page > 2) { _%>
							<li><a href="/" class="p-page-nav__link -start">最新</a></li>
							<li><a href="/list/<%= requestQuery.page - 1 %>" rel="prev" class="p-page-nav__link -prev">新しい記事</a></li>
							<%_ } else if (requestQuery.page === 2) { _%>
							<li><a href="/" rel="prev" class="p-page-nav__link -prev">新しい記事（最新）</a></li>
							<%_ } _%><%_ if (requestQuery.page < totalPage) { _%>
							<li><a href="/list/<%= requestQuery.page + 1 %>" rel="next" class="p-page-nav__link -next">古い記事</a></li>
							<%_ } _%>
						</ul>
					</nav>
				</div>
			</div>

			<%- include('./_include/sidebar') -%><%- include('./_include/footer') -%>
		</div>
	</body>
</html>
