<div id="sidebar" class="l-sidebar">
	<section class="p-sidebar-categories">
		<w0s-tab tablist-label="記事カテゴリー" storage-key="sidebar-category-tab">
			<%_ for (const [group_name, ] of entryCountOfCategoryList) { _%>
			<a href="#<%= group_name %>" slot="tab" class="p-sidebar-categories__item"><%= group_name %></a>
			<%_ } _%><%_ for (const [group_name, countDataList] of entryCountOfCategoryList) { _%>
			<div slot="tabpanel" class="p-sidebar-categories__panel" id="<%= group_name %>">
				<%_ if (typeof(requestQuery.category_name) !== 'undefined') { _%>
				<ul class="p-sidebar-link -category">
					<%_ for (const countData of countDataList) { _%>
					<li>
						<%_ if (requestQuery.category_name === countData.category_name) { _%>
						<a aria-current="page">
							<%= countData.category_name %>
							<span class="p-sidebar-link__icon c-entry-count"><span class="c-entry-count__num"><%= countData.count %></span>件</span>
						</a>
						<%_ } else { _%>
						<a href="/category/<%= encodeURI(countData.category_name) %>">
							<%= countData.category_name %>
							<span class="p-sidebar-link__icon c-entry-count"><span class="c-entry-count__num"><%= countData.count %></span>件</span>
						</a>
						<%_ } _%>
					</li>
					<%_ } _%>
				</ul>
				<%_ } else { _%>
				<ul class="p-sidebar-link -category">
					<%_ for (const countData of countDataList) { _%>
					<li>
						<a href="/category/<%= encodeURI(countData.category_name) %>">
							<%= countData.category_name %>
							<span class="p-sidebar-link__icon c-entry-count"><span class="c-entry-count__num"><%= countData.count %></span>件</span>
						</a>
					</li>
					<%_ } _%>
				</ul>
				<%_ } _%>
			</div>
			<%_ } _%>
		</w0s-tab>
	</section>

	<section class="p-sidebar-entries">
		<h2 class="p-sidebar-entries__hdg">最近の記事</h2>

		<%_ if (typeof(requestQuery.entry_id) !== 'undefined') { _%>
		<ul class="p-sidebar-link -entry">
			<%_ for (const newlyEntry of newlyEntries) { _%>
			<li>
				<%_ if (requestQuery.entry_id === newlyEntry.id) { _%>
				<a aria-current="page"><%- newlyEntry.title %></a>
				<%_ } else { _%>
				<a href="/<%= newlyEntry.id %>"><%- newlyEntry.title %></a>
				<%_ } _%>
			</li>
			<%_ } _%>
		</ul>
		<%_ } else { _%>
		<ul class="p-sidebar-link -entry">
			<%_ for (const newlyEntry of newlyEntries) { _%>
			<li>
				<a href="/<%= newlyEntry.id %>"><%- newlyEntry.title %></a>
			</li>
			<%_ } _%>
		</ul>
		<%_ } _%>
	</section>
</div>
