<!DOCTYPE html>
<html lang="ja">
	<head>
		<title>「<%= categoryName %>」の記事（<%= count %>件）</title>

		<meta name="viewport" content="width=device-width,initial-scale=1" />

		<link rel="alternate" href="/feed" type="application/atom+xml" title="「富永日記帳」の新着フィード" />
		<link rel="stylesheet" href="/style/blog.css" />
		<link rel="stylesheet" href="/style/layout_full.css" title="通常表示" />
		<link rel="alternate stylesheet" href="/style/layout_reader.css" title="リーダー表示" id="stylesheet-print" />
		<link rel="icon" href="/favicon.svg" type="image/svg+xml" />

		<script src="/script/trusted-types.js"></script>
		<script src="/script/blog.mjs" type="module"></script>
		<script src="https://www.googletagmanager.com/gtag/js?id=G-SZYWFCF4JS" defer=""></script>
		<script src="/script/google-analytics.js" defer=""></script>
	</head>
	<body itemscope="" itemtype="http://schema.org/Blog">
		<div class="l-page">
			<%- include('./include/_header', { heading: false } ) %>

			<main role="main" id="main" class="l-main">
				<div class="l-main__header">
					<div class="p-category-title">
						<h1 itemprop="name" class="p-category-title__hdg">「<%= categoryName %>」の記事（<%= count %>件）</h1>
					</div>
				</div>
				<div class="l-main__main">
					<ul class="p-title-list -category">
						<% for (const topicData of topicDataList) { %>
						<li>
							<a href="/<%= topicData.id %>">
								<span class="p-title-list__thumb">
									<% if (topicData.image_internal !== null) { %>
									<picture>
										<source
											type="image/avif"
											srcset="https://media.w0s.jp/thumbimage/diary/<%= topicData.image_internal %>?type=avif;w=180;mh=180;quality=60, https://media.w0s.jp/thumbimage/diary/<%= topicData.image_internal %>?type=avif;w=360;mh=360;quality=30 2x"
										/>
										<source
											type="image/webp"
											srcset="https://media.w0s.jp/thumbimage/diary/<%= topicData.image_internal %>?type=webp;w=180;mh=180;quality=60, https://media.w0s.jp/thumbimage/diary/<%= topicData.image_internal %>?type=webp;w=360;mh=360;quality=30 2x"
										/>
										<img
											src="https://media.w0s.jp/thumbimage/diary/<%= topicData.image_internal %>?type=jpeg;w=180;mh=180;quality=60"
											alt=""
											class="p-title-list__image"
										/>
									</picture>
									<% } else if (topicData.image_external !== null) { %>
									<img src="<%= topicData.image_external %>" alt="" class="p-title-list__image" />
									<% } else { %>
									<img src="/image/noimage.svg" alt="" class="p-topic-relation__image" />
									<% } %>
								</span>
								<span class="p-title-list__text"><%= topicData.title %></span>
							</a>

							<div class="p-title-list__time">
								<p>
									投稿:<time datetime="<%= topicData.insert_date.format('YYYY-MM-DDTHH:mm:ssZ') %>"><%= topicData.insert_date.format('YYYY年M月D日') %></time>
								</p>
								<% if (topicData.last_update !== null) { %>
								<p>
									更新:<time datetime="<%= topicData.last_update.format('YYYY-MM-DDTHH:mm:ssZ') %>"><%= topicData.last_update.format('YYYY年M月D日') %></time>
								</p>
								<% } %>
							</div>
						</li>
						<% } %>
					</ul>
				</div>
			</main>

			<%- include('./include/_sidebar') %><%- include('./include/_footer') %>
		</div>
	</body>
</html>
