<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
	<head>
		<title><%= title %></title>

		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<% if (sidebarAmazon !== null) { %>
		<meta name="w0s:sidebar:amazon" content="<%= sidebarAmazon %>" />
		<% } %>
		<meta property="og:title" content="<%= title %>" />
		<meta property="og:type" content="article" />
		<% if (ogImage !== null) { %>
		<meta property="og:image" content="<%= ogImage %>" />
		<% } else { %>
		<meta property="og:image" content="https://blog.w0s.jp/image/site-icon.png" />
		<meta property="og:image:width" content="360" />
		<meta property="og:image:height" content="360" />
		<% } %>
		<meta property="og:url" content="https://blog.w0s.jp/<%= topicId %>" />
		<meta property="og:locale" content="ja_JP" />
		<meta property="og:site_name" content="富永日記帳" />
		<% if (description !== null) { %>
		<meta property="og:description" content="<%= description %>" />
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:site" content="@SaekiTominaga" />
		<% } %>

		<link rel="alternate" href="/feed" type="application/atom+xml" title="「富永日記帳」の新着フィード" />
		<link rel="stylesheet" href="/style/blog.css" />
		<link rel="stylesheet" href="/style/layout_full.css" title="通常表示" />
		<link rel="alternate stylesheet" href="/style/layout_reader.css" title="リーダー表示" id="stylesheet-print" />
		<link rel="icon" href="/favicon.svg" type="image/svg+xml" />

		<script src="/script/trusted-types.js"></script>
		<script src="/script/blog.mjs" type="module"></script>
		<% if (tweet) { %>
		<script src="https://platform.twitter.com/widgets.js" async=""></script>
		<% } %>
		<script src="https://www.googletagmanager.com/gtag/js?id=G-SZYWFCF4JS" defer=""></script>
		<script src="/script/google-analytics.js" defer=""></script>
	</head>
	<body itemscope="" itemtype="http://schema.org/Blog">
		<div class="l-page">
			<%- include('./_include/_header', { heading: false }) %>

			<main role="main" id="main" class="l-main">
				<div class="l-main__main">
					<article role="article" class="p-topic" itemscope="" itemtype="http://schema.org/BlogPosting">
						<header class="p-topic-header">
							<h1 class="p-topic-title" itemprop="name"><%= title %></h1>
							<dl class="p-topic-date">
								<div class="p-topic-date__date -insert">
									<dt>投稿</dt>
									<dd>
										<time datetime="<%= insert.format('YYYY-MM-DDTHH:mm:ssZ') %>" itemprop="datePublished"><%= insert.format('YYYY年M月D日') %></time>
									</dd>
								</div>
								<% if (lastUpdated !== null) { %>
								<div class="p-topic-date__date -update">
									<dt>最終更新</dt>
									<dd>
										<time datetime="<%= lastUpdated.format('YYYY-MM-DDTHH:mm:ssZ') %>" itemprop="dateModified"><%= lastUpdated.format('YYYY年M月D日') %></time>
									</dd>
								</div>
								<% } %>
							</dl>
						</header>

						<div class="p-topic-main" itemprop="articleBody"><%- message %></div>

						<footer class="p-topic-footer">
							<section class="p-topic-category">
								<h2 class="p-topic-category__hdg">カテゴリ</h2>
								<ul class="p-topic-category__list">
									<% for (const category of categories) { %>
									<li>
										<a href="/category/<%= encodeURI(category) %>" rel="tag"><%= category %></a>
									</li>
									<% } %>
								</ul>
							</section>

							<div class="p-topic-social">
								<ul class="p-topic-social__list">
									<li>
										<a href="/feed" type="application/atom+xml" class="p-topic-social__button -feed"
											><img src="/image/icon/feed.svg" alt="" class="p-topic-social__button-icon" /> フィード</a
										>
									</li>
									<li>
										<a
											href="https://github.com/SaekiTominaga/blog.w0s.jp/issues/new?title=%5B<%= topicId %>%5D%20<%= encodeURI(title) %>"
											class="p-topic-social__button -issue"
											><img src="/image/icon/github.svg" alt="" class="p-topic-social__button-icon" /> Issue を立てる</a
										>
									</li>
									<li><button type="button" is="w0s-share-button" class="p-topic-social__button -share">記事のシェア</button></li>
								</ul>
							</div>

							<% if (relations.length > 0) { %>
							<aside role="complementary" class="p-topic-relation">
								<h2 class="p-topic-relation__hdg">関連記事</h2>
								<ul class="p-topic-relation__list">
									<% for (const relation of relations) { %>
									<li>
										<a href="<%= relation.id %>">
											<span class="p-topic-relation__thumb">
												<% if (relation.image_internal !== null) { %>
												<picture>
													<source
														type="image/avif"
														srcset="https://media.w0s.jp/thumbimage/diary/<%= relation.image_internal %>?type=avif;w=180;mh=180;quality=60, https://media.w0s.jp/thumbimage/diary/<%= relation.image_internal %>?type=avif;w=360;mh=360;quality=30 2x"
													/>
													<source
														type="image/webp"
														srcset="https://media.w0s.jp/thumbimage/diary/<%= relation.image_internal %>?type=webp;w=180;mh=180;quality=60, https://media.w0s.jp/thumbimage/diary/<%= relation.image_internal %>?type=webp;w=360;mh=360;quality=30 2x"
													/>
													<img
														src="https://media.w0s.jp/thumbimage/diary/<%= relation.image_internal %>?type=jpeg;w=180;mh=180;quality=60"
														srcset="https://media.w0s.jp/thumbimage/diary/<%= relation.image_internal %>?type=jpeg;w=360;mh=360;quality=30 2x"
														alt=""
														class="p-topic-relation__image"
													/>
												</picture>
												<% } else if (relation.image_external !== null) { %>
												<img src="<%= relation.image_external %>" alt="" class="p-topic-relation__image" />
												<% } else { %>
												<img src="/image/noimage.svg" alt="" class="p-topic-relation__image" />
												<% } %>
											</span>
											<span class="p-topic-relation__title"><%= relation.title %></span>
										</a>
										<p class="p-topic-relation__date">
											<time datetime="<%= relation.insert_date.format('YYYY-MM-DDTHH:mm:ssZ') %>"><%= relation.insert_date.format('YYYY年M月D日') %></time>
										</p>
									</li>
									<% } %>
								</ul>
							</aside>
							<% } %>
						</footer>
					</article>
				</div>

				<% if (book !== null) { %>
				<div class="l-main__footer">
					<aside class="p-bookcm">
						<h2 class="p-bookcm__hdg">著書の紹介</h2>
						<ul class="p-bookcm__list">
							<% if (book === 'tokyu') { %>
							<li>
								<a href="https://w0s.jp/tokyu/book/7700"
									><picture>
										<source
											type="image/avif"
											srcset="
												https://media.w0s.jp/thumbimage/diary/book/7700_cover.jpg?type=avif;w=160;mh=160;quality=50,
												https://media.w0s.jp/thumbimage/diary/book/7700_cover.jpg?type=avif;w=320;mh=320;quality=30 2x
											" />
										<source
											type="image/webp"
											srcset="
												https://media.w0s.jp/thumbimage/diary/book/7700_cover.jpg?type=webp;w=160;mh=160;quality=50,
												https://media.w0s.jp/thumbimage/diary/book/7700_cover.jpg?type=webp;w=320;mh=320;quality=30 2x
											" />
										<img
											src="https://media.w0s.jp/thumbimage/diary/book/7700_cover.jpg?type=jpeg;w=160;mh=160;quality=50"
											alt=""
											loading="lazy"
											class="p-bookcm__image"
									/></picture>
									<span class="p-bookcm__title"><b>【同人誌】</b>東急7700系形態分類</span></a
								>
								<div class="p-bookcm__text">
									<p>
										池上線、東急多摩川線で活躍した東急7700系の形態バリエーションについて、2010年時点の在籍車36両を徹底解析しました。（<time datetime="2019-08"
											>2019年8月</time
										>発行）
									</p>
								</div>
							</li>
							<li>
								<a href="https://www.amazon.co.jp/dp/480220695X?tag=w0s.jp-22&amp;linkCode=ogi&amp;th=1&amp;psc=1"
									><img
										src="https://m.media-amazon.com/images/I/51uD92OAjNL._SL160_.jpg"
										srcset="https://m.media-amazon.com/images/I/51uD92OAjNL._SL320_.jpg 2x"
										alt=""
										loading="lazy"
										class="p-bookcm__image" /><span class="p-bookcm__title"
										><b>【ムック本】</b>東急電鉄 1989-2019 <img src="/image/icon/amazon.png" alt="(Amazon)" class="c-link-icon" /></span
								></a>
								<div class="p-bookcm__text">
									<p>
										平成時代の東急電車の動向をまとめた本です。「現役車両ガイド」の一部の本文解説を担当、写真提供もしています。（<time datetime="2019-08"
											>2019年8月</time
										>発売）
									</p>
								</div>
							</li>
							<% } else if (book === 'madoka') { %>
							<li>
								<a href="https://w0s.jp/madoka-magica/dojin/pictorial11"
									><picture>
										<source
											type="image/avif"
											srcset="
												https://media.w0s.jp/thumbimage/diary/book/pictorial11_cover.jpg?type=avif;w=160;mh=160;quality=50,
												https://media.w0s.jp/thumbimage/diary/book/pictorial11_cover.jpg?type=avif;w=320;mh=320;quality=30 2x
											" />
										<source
											type="image/webp"
											srcset="
												https://media.w0s.jp/thumbimage/diary/book/pictorial11_cover.jpg?type=webp;w=160;mh=160;quality=50,
												https://media.w0s.jp/thumbimage/diary/book/pictorial11_cover.jpg?type=webp;w=320;mh=320;quality=30 2x
											" />
										<img
											src="https://media.w0s.jp/thumbimage/diary/book/pictorial11_cover.jpg?type=jpeg;w=160;mh=160;quality=50"
											alt=""
											loading="lazy"
											class="p-bookcm__image" /></picture
									><span class="p-bookcm__title"><b>【同人誌】</b>マギアレコード海外版動向</span></a
								>
								<div class="p-bookcm__text">
									<p>
										マギレコ中国版、繁中版、北米版のゲーム概要、イベントレポート、街頭広告の掲出例などを紹介します。（<time datetime="2019-08-12"
											>2019年8月</time
										>発行）
									</p>
								</div>
							</li>
							<li>
								<a href="https://w0s.jp/madoka-magica/dojin/pictorial7"
									><picture>
										<source
											type="image/avif"
											srcset="
												https://media.w0s.jp/thumbimage/diary/book/pictorial7_cover.jpg?type=avif;w=160;mh=160;quality=50,
												https://media.w0s.jp/thumbimage/diary/book/pictorial7_cover.jpg?type=avif;w=320;mh=320;quality=30 2x
											" />
										<source
											type="image/webp"
											srcset="
												https://media.w0s.jp/thumbimage/diary/book/pictorial7_cover.jpg?type=webp;w=160;mh=160;quality=50,
												https://media.w0s.jp/thumbimage/diary/book/pictorial7_cover.jpg?type=webp;w=320;mh=320;quality=30 2x
											" />
										<img
											src="https://media.w0s.jp/thumbimage/diary/book/pictorial7_cover.jpg?type=jpeg;w=160;mh=160;quality=50"
											alt=""
											loading="lazy"
											class="p-bookcm__image" /></picture
									><span class="p-bookcm__title"><b>【同人誌】</b>TVシリーズ 放送版とパッケージ版の比較</span></a
								>
								<div class="p-bookcm__text">
									<p>
										『魔法少女まどか☆マギカ』TVシリーズの放送版と Blu-ray / DVD 版の違いをまとめました。（<time datetime="2017-08-12">2017年8月</time>発行）
									</p>
								</div>
							</li>
							<% } %>
						</ul>
					</aside>
				</div>
				<% } %>
			</main>

			<%- include('./_include/_sidebar') %><%- include('./_include/_footer') %>
		</div>
	</body>
</html>
