<?xml version="1.0" encoding="UTF-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:base="https://blog.w0s.jp/" xml:lang="ja">
	<title>富永日記帳</title>
	<subtitle>ウェブ技術や東急電車、久米田康治作品の話を中心としたブログ</subtitle>
	<id>tag:blog.w0s.jp,2009:/</id>
	<link href="/" type="text/html" />
	<link href="/feed" rel="self" type="application/atom+xml" />
	<author>
		<name>富永冴樹</name>
	</author>
	<icon>/image/site-icon.png</icon>
	<updated><%= updated_at.format('YYYY-MM-DDTHH:mm:ssZ') %></updated>
	<%_ for (const entry of entries) { _%>
	<entry>
		<title><%_ if (entry.update) { _%>【更新】<%_ } _%><%= entry.title %></title>
		<id>tag:blog.w0s.jp,<%= entry.updated_at.format('YYYY-MM-DD') %>:/<%= entry.id %></id>
		<link href="/<%= entry.id %>" type="text/html" />
		<updated><%= entry.updated_at.format('YYYY-MM-DDTHH:mm:ssZ') %></updated>
		<content type="xhtml" xml:base="/<%= entry.id %>">
			<!-- prettier-ignore -->
			<div xmlns="http://www.w3.org/1999/xhtml"><%- entry.message %></div>
		</content>
	</entry>
	<%_ } _%>
</feed>
