<div id="sidebar" class="l-sidebar">
	<section class="p-sidebar-profile">
		<h2 class="p-sidebar-profile__hdg">プロフィール</h2>

		<div class="p-sidebar-profile__info">
			<address class="p-sidebar-profile__address">
				<a href="https://w0s.jp/info">
					<picture>
						<source type="image/webp" srcset="/image/sidebar/profile.webp, /image/sidebar/profile@2x.webp 2x" />
						<img src="/image/sidebar/profile.jpg" srcset="/image/sidebar/profile@2x.jpg 2x" alt="" class="p-sidebar-profile__avatar" />
					</picture>
					富永冴樹
				</a>
			</address>
			<p class="p-sidebar-profile__bio">都内でウェブ制作の仕事をしていたりいなかったり。フロントエンド技術者のつもりです。</p>
		</div>

		<ul class="p-sidebar-profile__banner">
			<li>
				<a href="https://twitter.com/SaekiTominaga" class="p-sidebar-profile__banner-link -twitter"><img src="/image/icon/twitter_white.svg" alt="" class="p-sidebar-profile__banner-icon" /> Twitter</a>
			</li>
			<li>
				<a href="https://github.com/SaekiTominaga" class="p-sidebar-profile__banner-link -github"><img src="/image/icon/github.svg" alt="" class="p-sidebar-profile__banner-icon" /> GitHub</a>
			</li>
			<li>
				<a href="https://www.amazon.co.jp/-/e/B07FBRDDJN/?_encoding=UTF8&amp;camp=1207&amp;creative=8415&amp;linkCode=shr&amp;tag=w0s.jp-22" class="p-sidebar-profile__banner-link -amazon"><img src="/image/icon/amazon.png" alt="" class="p-sidebar-profile__banner-icon" /> Amazon</a>
			</li>
			<li>
				<a href="https://www.youtube.com/user/SaekiTominaga" class="p-sidebar-profile__banner-link -youtube"><img src="/image/icon/youtube.svg" alt="" class="p-sidebar-profile__banner-icon" /> YouTube</a>
			</li>
		</ul>
	</section>

	<aside class="p-sidebar-categories">
		<w0s-tab class="p-sidebar-categories__tab" tablist-label="カテゴリー" storage-key="tab-diary-category">
			<% for (const [group_name, ] of topicCountOfCategoryList) { %>
			<a href="#<%= group_name %>" slot="tab" class="p-sidebar-categories__tab-item"><%= group_name %></a>
			<% } %><% for (const [group_name, countDataList] of topicCountOfCategoryList) { %>
			<div slot="tabpanel" id="<%= group_name %>">
				<% if (typeof(categoryName) !== 'undefined') { %>
				<ul class="p-sidebar-categories__topics-list">
					<% for (const countData of countDataList) { %>
					<li>
						<% if (categoryName === countData.category_name) { %>
						<a aria-current="page">
							<%= countData.category_name %><span class="p-sidebar-categories__topic-count"><b class="p-sidebar-categories__topic-num"><%= countData.count %></b>件</span>
						</a>
						<% } else { %>
						<a href="/category/<%= encodeURI(countData.category_name) %>">
							<%= countData.category_name %><span class="p-sidebar-categories__topic-count"><b class="p-sidebar-categories__topic-num"><%= countData.count %></b>件</span>
						</a>
						<% } %>
					</li>
					<% } %>
				</ul>
				<% } else { %>
				<ul class="p-sidebar-categories__topics-list">
					<% for (const countData of countDataList) { %>
					<li>
						<a href="/category/<%= encodeURI(countData.category_name) %>">
							<%= countData.category_name %><span class="p-sidebar-categories__topic-count"><b class="p-sidebar-categories__topic-num"><%= countData.count %></b>件</span>
						</a>
					</li>
					<% } %>
				</ul>
				<% } %>
			</div>
			<% } %>
		</w0s-tab>
	</aside>

	<aside class="p-sidebar-topics">
		<h2 class="p-sidebar-topics__hdg">最近の記事</h2>

		<% if (typeof(topicId) !== 'undefined') { %>
		<ul class="p-sidebar-topics__list">
			<% for (const newlyTopicData of newlyTopicDataList) { %>
			<li>
				<% if (topicId === newlyTopicData.id) { %>
				<a aria-current="page"><%= newlyTopicData.title %></a>
				<% } else { %>
				<a href="/<%= newlyTopicData.id %>"><%= newlyTopicData.title %></a>
				<% } %>
			</li>
			<% } %>
		</ul>
		<% } else { %>
		<ul class="p-sidebar-topics__list">
			<% for (const newlyTopicData of newlyTopicDataList) { %>
			<li>
				<a href="/<%= newlyTopicData.id %>"><%= newlyTopicData.title %></a>
			</li>
			<% } %>
		</ul>
		<% } %>
	</aside>

	<aside class="p-sidebar-amazon" hidden="">
		<h2 class="p-sidebar-amazon__hdg">おすすめ商品</h2>

		<ul class="p-sidebar-amazon__list">
			<template id="sidebar-amazon-ad-template">
				<li>
					<a href="">
						<div class="p-sidebar-amazon__image-area">
							<img src="/image/sidebar/amazon_noimage.svg" alt="" loading="lazy" class="p-sidebar-amazon__image js-image" />
						</div>
						<div class="p-sidebar-amazon__text-area">
							<p class="p-sidebar-amazon__title js-title"><b class="p-sidebar-amazon__binding js-binding" hidden=""></b></p>
							<p class="p-sidebar-amazon__time js-date-past" hidden=""><time datetime=""></time> 発売</p>
							<p class="p-sidebar-amazon__time js-date-future" hidden=""><time datetime=""></time> 発売<em class="p-sidebar-amazon__time-plan">予定</em></p>
						</div>
					</a>
				</li>
			</template>
		</ul>
	</aside>
</div>
